@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Jacques+Francois&family=Sonsie+One&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}

p{
    color: rgba(0, 0, 0, 0.8);
}

h1{
    color: rgba(0, 0, 0, 0.9);
}

h2{
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
}

body{
    overflow-x: hidden;
}

header{
    width: 100vw;
    background: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 23px 0;
    position: sticky;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
}

.navbar .logo img{
    width: 120%;
}

.navbar .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navbar .links ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.navbar .links ul li a{
    text-decoration: none;
    color: black;
}

.navbar .links ul .space{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .links button{
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.navbar .links button:hover{
    background: rgba(0, 0, 0, 0.8);
}

.navbar .links .toggle-link-header span{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.navbar .links .toggle-link-header span i{
    color: rgb(5, 190, 5);
    font-size: 12px;
    transition: transform 0.5s ease-in-out;
}

.navbar .links .language-selection .language-selection-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar .links .language-selection .language-selection-header i{
    font-size: 12px;
    color: green;
}

.navbar .toggle{
    position: absolute;
    width: 80%;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    opacity: 0;
    height: 0;
    padding: 0px;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.toggle-wrapper{
    display: flex;
    justify-content: space-between;
}

.toggle >* img{
    width: 30px;
}

.toggle >* a{
    text-decoration: none;
    color: black;
}

.toggle >* a:hover span{
    color: rgba(0, 0, 0, 0.6);
}

.toggle .wrapper1 >*{
    margin: 15px 0;
}

.toggle .wrapper2 >*{
    margin: 15px 0;
}

.toggle .wrapper3 >*{
    margin: 15px 0;
}

.toggle .wrapper4 >*{
    margin: 15px 0;
}

.toggle-link.active .toggle{
    height: 400px;
    padding: 20px;
    opacity: 1;
    backdrop-filter: blur(100px);
}

.toggle-link.active i{
    transform: rotate(180deg);
}

.hero{
    width: 90%;
    text-align: center;
    font-size: 50px;
    margin: 50px auto;
    background-image: url(https://www.jivochat.ng/images/pages/partnership/header.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.hero h1{
    font-size: 90px;
    font-weight: 600;
    line-height: 100px;
    color: rgba(0, 0, 0, 0.8);
}

.hero span{
    color: black;
}

.hero-content{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.hero-content .become{
    font-size: 18px;
    padding: 10px 80px;
    border-radius: 50px;
    border: none;
    margin-left: -100px;
    background: rgb(5, 190, 5);
    color: white;
    cursor: pointer;
}

.hero-content .become:hover{
    background: rgba(0, 0, 0, 0.9);
}

.hero-content .login{
    font-size: 18px;
    padding: 10px 60px;
    border-radius: 50px;
    border: 1px solid black;
}


.recurring{
    padding: 50px;
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recurring p{
    font-size: 20px;
}

.recurring h2{
    font-size: 50px;
    line-height: 60px;
}

.wrapping{
    width: 90%;
    margin: 50px auto;
}

.wrapping .program-wrapper{
    display: flex;
    gap: 30px;
    align-items: center;
}

.wrapping .program-wrapper p{
    font-size: 20px;
}

.wrapping .program-wrapper span{
    color: black;
    font-weight: bold;
}

.wrapping .program-wrapper a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.wrapping .program-wrapper a:hover{
    color: rgb(5, 190, 5);
}

.wrapping .program-wrapper .program-background{
    background: rgba(173, 216, 230, 0.13);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrapping .program-wrapper .program-background img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.required{
    margin: 50px 0;
}

.required h1{
    font-size: 50px;
    font-weight: 600;
}

.required .required-toggle{
    margin: 20px 0;
}

.required .required-toggle h2{
    font-size: 30px;
    margin: 10px 0;
}

.required .required-toggle p{
    font-size: 20px;
}

.required .required-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.required .required-heading i{
    transition: 0.5s ease-in-out;
}

.required-content{
    height: 0;
    overflow: hidden;
    transform-origin: right;
    transform: scale(0);
    transition: 0.5s ease;
}

.required-toggle.active .required-content{
    height: auto;
    transform: scale(1);
}

.required-toggle.active i{
    transform: rotate(180deg);
}

.positioning{
    position: relative;
}

.footer-text {
    text-align: center;
    padding: 40px 0;
}

.footer-text h1{
    font-size: 60px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
}

.footer-text p{
    font-size: 30px;
    margin-bottom: 30px;
}

.footer-text button{
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    border: none;
    cursor: pointer;
}

.footer-text button:hover{
    background: rgba(0, 0, 0, 0.8);
}

.form-wrapper{
    width: 80%;
    margin: auto;
    background: rgba(red, green, blue, alpha);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.3);
    z-index: 1;
    scale: 0; 
    transition: scale 1s ease-in-out;
}

.form-wrapper.active{
    scale: 1;
}

.form-wrapper i{
    font-size: 30px;
    background: black;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.form-wrapper i:hover{
    background: maroon;
}

.form{
    padding: 20px 50px;
}

.form h2{
    text-align: center;
}

form{
    width: 35%;
    margin: auto;
    text-align: center;
}

form p{
    color: grey;
    font-size: 13px;
    padding: 20px 0;
    font-weight: 350;
}

form span{
    color: grey;
    font-size: 13px;
    font-weight: 350;
}

form input{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border-radius: 5px;
    outline: 1px solid grey;
    border: none;
    caret-color: lightblue;
    padding-left: 20px;
}

form input:focus{
    outline: 1px solid lightblue;
}

form a{
    text-decoration: none;
    color: blue;
}

form button{
    width: 100%;
    height: 40px;
}

form .lightgrey{
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: grey;
    font-weight: 500;
}

form .transparent{
    background: transparent;
    border: 1px solid lightgrey;
    border-radius: 5px;
}


.flex{
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex .line{
    width: 100%;
    height: 0.5px;
    background: lightgrey;
}


footer{
    background: rgba(173, 216, 230, 0.13);
    padding: 50px 60px;
}

.footer-wrappers{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-wrappers p{
    line-height: 30px;
    font-size: 13px;
}

.footer-wrappers h5{
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
}

.footer-wrappers .footer-wrapper1{
    display: flex;
    justify-content: space-between;
}

.footer-wrappers .footer-wrapper2{
    transform: translateX(400px);
}

.footer-wrappers .footer-wrapper2 a{
    text-decoration: none;
    line-height: 60px;
    color: rgb(5, 190, 5);
    font-weight: bold;
}

.footers1{
    display: flex;
    gap: 20px;
}

.footers-icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 50px;
}

.footers-icons i{
    color: lightgrey;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
}

.footers-icons p{
    color: lightgrey;
}

.footers-icons .footers2{
    transform: translateX(400px);
}

.footers-icons #blue:hover{
    color: darkblue;
}

.footers-icons #lightblue:hover{
    color: blue;
}

.footers-icons #red:hover{
    color: red;
}

.footers-icons #orange:hover{
    color: orange;
}

.footers-icons #black:hover{
    color: black;
}

.footers-icons #green:hover{
    color: lightgreen;
}
