@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Jacques+Francois&family=Sonsie+One&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}

p{
    color: rgba(0, 0, 0, 0.8);
}

h1{
    color: rgba(0, 0, 0, 0.9);
}

h2{
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
}

body{
    overflow-x: hidden;
}

header{
    width: 100vw;
    background: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 23px 0;
    position: sticky;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
}

.navbar .logo img{
    width: 120%;
}

.navbar .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navbar .links ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.navbar .links ul li a{
    text-decoration: none;
    color: black;
}

.navbar .links ul .space{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .links button{
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.navbar .links button:hover{
    background: rgba(0, 0, 0, 0.8);
}

.navbar .links .toggle-link-header span{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.navbar .links .toggle-link-header span i{
    color: rgb(5, 190, 5);
    font-size: 12px;
    transition: transform 0.5s ease-in-out;
}

.navbar .links .language-selection .language-selection-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar .links .language-selection .language-selection-header i{
    font-size: 12px;
    color: green;
}

.navbar .toggle{
    position: absolute;
    width: 80%;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    opacity: 0;
    height: 0;
    padding: 0px;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.toggle-wrapper{
    display: flex;
    justify-content: space-between;
}

.toggle >* img{
    width: 30px;
}

.toggle >* a{
    text-decoration: none;
    color: black;
}

.toggle >* a:hover span{
    color: rgba(0, 0, 0, 0.6);
}

.toggle .wrapper1 >*{
    margin: 15px 0;
}

.toggle .wrapper2 >*{
    margin: 15px 0;
}

.toggle .wrapper3 >*{
    margin: 15px 0;
}

.toggle .wrapper4 >*{
    margin: 15px 0;
}

.toggle-link.active .toggle{
    height: 400px;
    padding: 20px;
    opacity: 1;
    backdrop-filter: blur(100px);
}

.toggle-link.active i{
    transform: rotate(180deg);
}

.hero{
    width: 90%;
    margin: auto;
}

.blog h1{
    font-size: 70px;
    font-weight: 600;
    padding: 30px 0;
}

.articles ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.articles ul li{
    border: 1px solid rgb(180, 180, 180);
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50px;
    margin: 10px 10px;
}

.articles ul li a{
    text-decoration: none;
    color: rgb(180, 180, 180);
}

.articles ul .active{
    background: rgb(5, 190, 5);
    border: none;
}

.articles ul .active:hover{
    background: rgb(4, 136, 4);
}

.articles ul .active a{
    color: white;
}

.articles ul .hide{
    display: none;
}

.articles button{
    margin-top: 10px;
    padding: 10 20px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid rgb(180, 180, 180);
    background: transparent;
    color: rgb(180, 180, 180);
    cursor: pointer;
}

.articles.active .hide{
    display: block;
}

.articles.active button{
    display: none;
}

.tools-wrapper{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: start;
    gap: 30px;
}

.tools-wrapper img{
    width: 100%;
    border-radius: 20px;
}

.tools-wrapper button{
    padding: 5px 30px;
    border: 1px solid rgb(180, 180, 180);
    background: transparent;
    margin: 20px 0;
    border-radius: 50px;
}

.tools-wrapper a{
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.tools-wrapper a:hover{
    color: rgb(5, 190, 5)
}

.tools-wrapper p{
    font-size: 20px;
    margin: 20px 0;
}

.items-wrapper{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.items-wrapper img{
    width: 100%;
    border-radius: 20px;
}

.items-wrapper button{
    padding: 5px 30px;
    border: 1px solid rgb(180, 180, 180);
    background: transparent;
    margin: 20px 0;
    border-radius: 50px;
}

.items-wrapper a{
    font-size: 25px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.items-wrapper a:hover{
    color: rgb(5, 190, 5)
}

.items-wrapper p{
    font-size: 20px;
    margin: 20px 0;
}

.entrepreneurs{
    background: black;
    border-radius: 20px;
    padding: 50px;
    position: relative;
}

.entrepreneurs h1{
    font-size: 30px;
    color: white;
}

.entrepreneurs img{
    position: absolute;
    top: 0;
    right: 0;
}

.entrepreneurs button{
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.8);
}

.entrepreneurs input{
    padding: 15px 0;
    padding-left: 20px;
    padding-right: 200px;
    margin: 30px 0;
    margin-right: 20px;
    border-radius: 50px;
    border: none;
    outline: 3px solid rgb(180, 180, 180);
}

.entrepreneurs input:focus{
    outline: 3px solid rgb(5, 190, 5);
}

.entrepreneurs input::placeholder{
    font-size: 20px;
}

.assistance{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 50px 0;
}

.assistance img{
    width: 100%;
    height: 43%;
    object-fit: cover;
    border-radius: 20px;
}

.assistance button{
    padding: 5px 30px;
    border: 1px solid rgb(180, 180, 180);
    background: transparent;
    margin: 20px 0;
    border-radius: 50px;
}

.assistance a{
    font-size: 25px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.assistance a:hover{
    color: rgb(5, 190, 5)
}

.assistance p{
    font-size: 20px;
    margin: 20px 0;
}


.examples{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.examples img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px;
}

.examples button{
    padding: 5px 30px;
    border: 1px solid rgb(180, 180, 180);
    background: transparent;
    margin: 20px 0;
    border-radius: 50px;
}

.examples a{
    font-size: 25px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.examples a:hover{
    color: rgb(5, 190, 5)
}

.examples p{
    font-size: 20px;
    margin: 20px 0;
}

.sign{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: black;
    border-radius: 20px;
    padding: 50px;
    margin: 50px 0;
}

.sign h2{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.sign p{
    font-size: 20px;
    color: white;
}

.sign .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign input{
    padding-left: 10px;
    padding: 20px 0;
    padding-right: 150px;
    border-radius: 50px;
    border: none;
}

.sign button{
    padding: 14px 80px;
    padding-bottom: 17px;
    border-radius: 50px;
    border: none;
    background: rgb(5, 190, 5);
    font-size: 20px;
    color: white;
    margin-left: -80px;
    cursor: pointer;
}

.sign button:hover{
    background: rgb(4, 136, 4);
}

footer{
    background: rgba(173, 216, 230, 0.13);
    padding: 50px 60px;
}

.footer-wrappers{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-wrappers p{
    line-height: 30px;
    font-size: 13px;
}

.footer-wrappers h5{
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
}

.footer-wrappers .footer-wrapper1{
    display: flex;
    justify-content: space-between;
}

.footer-wrappers .footer-wrapper2{
    transform: translateX(400px);
}

.footer-wrappers .footer-wrapper2 a{
    text-decoration: none;
    line-height: 60px;
    color: rgb(5, 190, 5);
    font-weight: bold;
}

.footers1{
    display: flex;
    gap: 20px;
}

.footers-icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 50px;
}

.footers-icons i{
    color: lightgrey;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
}

.footers-icons p{
    color: lightgrey;
}

.footers-icons .footers2{
    transform: translateX(400px);
}

.footers-icons #blue:hover{
    color: darkblue;
}

.footers-icons #lightblue:hover{
    color: blue;
}

.footers-icons #red:hover{
    color: red;
}

.footers-icons #orange:hover{
    color: orange;
}

.footers-icons #black:hover{
    color: black;
}

.footers-icons #green:hover{
    color: lightgreen;
}