@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Jacques+Francois&family=Sonsie+One&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}

body{
    overflow-x: hidden;
    
}

header{
    width: clamp(300px, 100%, 100vw);
    background: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 23px 0;
    position: sticky;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 99999;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
}

.navbar .logo img{
    width: clamp(80px, 120px, 200px);
}

.navbar .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navbar .bars-toggle i{
    font-size: 30px;
    scale: 0;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navbar .links .language-selection-hide{
    display: none;
}

.navbar .links ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.navbar .links ul li a{
    text-decoration: none;
    color: black;
}

.navbar .links ul .space{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .links button{
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.navbar .links button:hover{
    background: rgba(0, 0, 0, 0.8);
}

.navbar .links .toggle-link-header span{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.navbar .links .toggle-link-header span i{
    color: rgb(5, 190, 5);
    font-size: 12px;
    transition: transform 0.5s ease-in-out;
}

.navbar .links .language-selection .language-selection-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar .links .language-selection .language-selection-header i{
    font-size: 12px;
    color: green;
}

.navbar .toggle{
    position: absolute;
    width: 80%;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    opacity: 0;
    height: 0;
    padding: 0px;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.toggle-wrapper{
    display: flex;
    justify-content: space-between;
}

.toggle >* img{
    width: clamp(25px, 30px, 50px);
}

.toggle >* a{
    text-decoration: none;
    color: black;
}

.toggle >* a:hover span{
    color: rgba(0, 0, 0, 0.6);
}

.toggle .wrapper1 >*{
    margin: 15px 0;
}

.toggle .wrapper2 >*{
    margin: 15px 0;
}

.toggle .wrapper3 >*{
    margin: 15px 0;
}

.toggle .wrapper4 >*{
    margin: 15px 0;
}

.toggle-link.active .toggle{
    height: 400px;
    padding: 20px;
    opacity: 1;
    backdrop-filter: blur(100px);
}

.toggle-link.active i{
    transform: rotate(180deg);
}

.hero{
    width: clamp(70%, 90%, 100%);
    text-align: center;
    padding-top: 120px;
    font-size: 50px;
    margin: auto;
}

.hero img{
    width: 20%;
    align-content: center;
}

.hero h1{
    font-weight: 600;
    line-height: 80px;
    color: rgba(0, 0, 0, 0.8);
}

.hero-content{
    text-align: center;
}

.hero-content >*{
    margin: 20px 0;
}

.hero-content p{
    font-size: 23px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.average {
    width: 90%;
    margin: 50px auto;
}

.average .average-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.average .average-wrapper>*{
    background: rgba(0, 0, 0, 0.8);
    padding: 50px;
    border-radius: 20px;
}

.average .average-wrapper .average-content>*{
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.average .average-wrapper .average-content h2{
    font-size: 50px;
    font-weight: 600;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(rgba(0, 255, 191, 0.555), rgba(0, 255, 42, 0.555));
}

.average .average-wrapper .average-content span{
    color: rgba(255, 255, 255, 0.7);
}

.average .separate{
    margin: 50px 0;
    text-align: center;
}

.average .separate p{
    font-size: 20px;
    margin-bottom: 20px;
}

.average .separate a{
    text-decoration: none;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(2, 187, 141), rgb(3, 126, 54));
}

.average .separate a:hover{
    background-image: linear-gradient(to right, rgba(2, 187, 141, 0.849), rgb(3, 126, 54,0.849));
}

.average .separate .buttons button{
    padding: 15px 80px;
    font-size: 20px;
    margin-left: -100px;
    border-radius: 50px;
    border: none;
    background: black;
    color: white;
}

.average .separate .buttons button:hover{
    background: rgba(0, 0, 0, 0.9);
}

.average .separate .buttons input{
    padding: 16px 160px 16px 15px;
    border-radius: 50px;
    border: none;
    outline: 3px solid lightgrey;
}

.average .separate .buttons input:focus{
    outline: 3px solid rgb(1, 221, 1);
}

.average .separate .buttons input::placeholder{
    font-size: 18px;
}

.coming-soon{
    background-image: url(/engage-ellipse2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(7, 2, 20);
    position: relative;
}

.coming-soon .coming-soon-wrapper h2{
    display: flex;
    justify-content: center;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    background: linear-gradient(to bottom, rgb(0, 128, 90), rgb(0, 187, 84));
    margin: 20px 0;
}

.coming-soon .coming-soon-wrapper h1{
    font-size: 60px;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.coming-soon .only{
    height: 300px;
    overflow: hidden;
    position: absolute;
    top: 80;
    right: 150;
}

.coming-soon .coming-soon-wrapper{
    padding: 50px 0;
    width: 90%;
    margin: auto;
    color: white;
}

.coming-soon .coming-soon-wrapper .coming-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.coming-soon .coming-soon-wrapper .coming-wrapper>*{
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    margin: 20px 0;
    border-radius: 20px;
}

.coming-soon .coming-soon-wrapper .coming-wrapper .coming-content{
    display: flex; 
    align-items: center;
    gap: 20px;
    line-height: 30px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.coming-soon .coming-soon-wrapper .animation{
    width: 90%;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 50px;
    border-radius: 20px;
}

.coming-soon .coming-soon-wrapper .animation video{
    width: 100%;
}

.coming-soon .coming-soon-wrapper .center{
    text-align: center;
}

.coming-soon .coming-soon-wrapper .center button{
    padding: 10px 30px;
    font-size: 20px;
    background: linear-gradient(to right, rgb(4, 253, 4), rgb(0, 168, 0));
    border-radius: 50px;
    border: none;
    margin-bottom: 80px;
}

.coming-soon .coming-soon-wrapper .center button:hover{
    background: linear-gradient(to right, rgba(20, 255, 20, 0.822), rgba(21, 179, 21, 0.836));    
}

.build{
    width: 90%;
    margin: 50px auto;
}

.build h1{
    font-size: 60px;
    font-weight: 600;
}

.build h2{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.build p{
    font-size: 20px;
    margin-bottom: 20px;
}

.build .build-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.build .build-wrapper .build-content{
    background: rgba(173, 216, 230, 0.13);
    padding: 50px;
    margin: 30px 0;
    border-radius: 20px;
}

.build .build-wrapper .background-changer{
    background: linear-gradient(to bottom, rgb(15, 53, 50), rgb(27, 100, 94), rgb(0, 255, 157));
    color: white;
}

.build .build-wrapper img{
    width: 100%;
}

.advantage{
    width: 90%;
    margin: auto;
}

.advantage h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 30px;
}

.advantage .advantage-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.advantage .advantage-wrapper .advantage-content{
    padding: 50px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

.advantage .advantage-wrapper .advantage-content>*{
    margin-bottom: 20px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.advantage .advantage-wrapper .blue{
    background: linear-gradient(90deg, blue, rgb(39, 147, 248));
    color: white;
}

.advantage .try{
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
}

.advantage .try .image{
    width: 38%;
}

.advantage .try a{
    text-decoration: none;
    color: black;
}

.advantage .try img{
    width: 100%;
}

.advantage .try-content h2{
    font-size: 50px;
    font-weight: 600;
}

.advantage .try-content button{
    padding: 15px 35px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(to right, rgb(4, 253, 4), rgb(1, 209, 1));
}

.advantage .try-content button:hover{
    background: linear-gradient(to right, rgba(20, 255, 20, 0.822), rgba(21, 179, 21, 0.836));
}

footer{
    background: rgba(173, 216, 230, 0.13);
    padding: 50px 60px;
    margin-top: 120px;
}

.footer-wrappers{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-wrappers p{
    line-height: 30px;
    font-size: 13px;
}

.footer-wrappers h5{
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
}

.footer-wrappers .footer-wrapper1{
    display: flex;
    justify-content: space-between;
}

.footer-wrappers .footer-wrapper2{
    transform: translateX(400px);
}

.footer-wrappers .footer-wrapper2 a{
    text-decoration: none;
    line-height: 60px;
    color: rgb(5, 190, 5);
    font-weight: bold;
}

.footers1{
    display: flex;
    gap: 20px;
}

.footers-icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 50px;
}

.footers-icons i{
    color: lightgrey;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
}

.footers-icons p{
    color: lightgrey;
}

.footers-icons .footers2{
    transform: translateX(400px);
}

.footers-icons #blue:hover{
    color: darkblue;
}

.footers-icons #lightblue:hover{
    color: blue;
}

.footers-icons #red:hover{
    color: red;
}

.footers-icons #orange:hover{
    color: orange;
}

.footers-icons #black:hover{
    color: black;
}

.footers-icons #green:hover{
    color: lightgreen;
}

@media (max-width: 1075px){
    .navbar .links{
        background: white;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        left: 0;
        top: 80px;
        height: 80vh;
        transform: translateX(-100%);
        transform-origin: left;
        position: absolute;
        align-items: flex-start; 
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        transition: 0.5s ease-in-out;
    }

    .navbar.active .links{
        transform: translateX(0);
    }

    .navbar.active #toggle-hide{
        scale: 0;
    }
    
    .navbar.active #toggle-show{
        scale: 1;
    }

    .navbar .toggle-link-header p{
        font-size: 30px;
    }

    .navbar #toggle-hide{
        scale: 1;
    }

    .navbar .links .toggle-link-header span{
        width: 100%;
        justify-content: space-between;
    }

    .navbar .links .toggle-link-header span i{
        font-size: 20px;
    }

    .navbar .links .language-selection{
        display: none;
    }

    .navbar .links .language-selection-hide p{
        font-size: 30px;
    }

    .navbar .links .language-selection-hide{
        display: block;
        width: 100%;
    }

    .navbar .links .language-selection-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar .links ul{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .links ul li a{
        font-size: 30px;
    }

    .navbar .toggle-link{
        position: relative;
        width: 100%;
    }

    .navbar .toggle-link-header{
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        padding: 20px 0;
    }

    .navbar .toggle{
        position: sticky;
        width: 100%;
        left: 0;
        top: 0;
        margin-bottom: 30px;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 20px;
        transform: translateX(0%);
    }

    .toggle-wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .toggle >* img{
        max-width: 40px;
    }

    .toggle .wrapper1{
        background: rgba(173, 216, 230, 0.13);
        padding: 20px;
        border-radius: 30px;
        margin: 30px 0;
    }

    .toggle .wrapper2{
        background: rgba(173, 216, 230, 0.13);
        padding: 20px;
        border-radius: 30px;
        margin: 30px 0;
    }

    .toggle .wrapper3{
        background: rgba(173, 216, 230, 0.13);
        padding: 20px;
        border-radius: 30px;
        margin: 30px 0;
    }

    .toggle .wrapper4{
        background: rgba(173, 216, 230, 0.13);
        padding: 20px;
        border-radius: 30px;
        margin: 30px 0;
    }

    .toggle a{
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 20px;
    }

    .toggle-link.active .toggle{
        height: auto;
    }

    .hero{
        padding-top: 20px;
    }

    .hero img{
        width: 10%;
    }

    .hero h1{
        font-size: clamp(30px, 30px, 70px);
        line-height: 30px;
        margin-bottom: 10px;
    }

    .hero-content span{
        font-size: clamp(15px, 20px, 30px);
    }

    .hero-content p{
        font-size: clamp(10px, 15px, 50px);
        padding: 0 20px;
    }

    .average .average-wrapper{
        display: flex;
        flex-direction: column;
    }

    .average .separate .buttons button{
        width: 100%;
        margin-left: 0px;
        margin-top: 5px;
    }

    .average .separate .buttons input{
        width: 100%;
    }

    .coming-soon .coming-soon-wrapper{
        padding: 10px 0;
    }

    .coming-soon .coming-soon-wrapper h2{
        font-size: 20px;
        width: 150px;
    }

    .coming-soon .coming-soon-wrapper h1{
        font-size: 30px;
    }

    .coming-soon .only{
        height: 300px;
        overflow: hidden;
        position: absolute;
        top: 20;
        right: 0;
    }

    .coming-soon .coming-soon-wrapper .coming-wrapper{
        display: flex;
        flex-direction: column;
    }

    .build h1{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .build .build-wrapper{
        display: flex; 
        flex-direction: column;
    }

    .build .build-wrapper .build-content{
        padding: 20px;
    }

    .build .build-wrapper h2{
        font-size: 20px;
    }

    .advantage h1{
        font-size: 30px;
        line-height: 40px;
    }

    .advantage .advantage-wrapper{
        display: flex;
        flex-direction: column;
    }

    .advantage .try{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    .advantage .try img{
        min-width: 200px;
    }

    .footer-text h1{
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        color: rgba(0, 0, 0, 0.9);
        padding: 20px 30px;
    }

    .footer-text button{
        padding: 5px 20px;
        font-size: 18px;
        border-radius: 50px;
        background: rgba(0, 0, 0, 0.9);
        color: white;
        border: none;
        cursor: pointer;
    }

    .footer-text button:hover{
        background: rgba(0, 0, 0, 0.8);
    }

    .form-wrapper{
        width: 100%;
        margin: auto;
        top: 80px;
        left: 0;
        transform: translateX(0%);
        box-shadow: 10px 10px 60px rgba(207, 194, 194, 0.3);
    }

    .form{
        padding: 10px 30px;
    }

    .form h2{
        text-align: center;
    }

    form{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    footer{
        width: 100%;
    }

    .footer-wrappers{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-wrappers .footer-wrapper1{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-wrappers .footer-wrapper2{
        transform: translateX(0px);
        text-align: center;
    }

    .footers1{
        flex-direction: column;
        align-items: center;
    }

    .footers-icons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footers-icons .footers2{
        transform: translateX(0px);
    }

}
